@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/Fonts/Poppins-Regular.ttf') format('truetype');
  /* You can also include additional font formats for better browser compatibility */
}
:root {
  font-family: Poppins-Regular;
  line-height: 1.5;
  font-weight: 400;
  /* user-select: none; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #0b0c1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(55, 150, 150);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 90%;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background: rgb(55, 150, 150);
  cursor: pointer;
  transition: border-color 0.25s;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Prevents text overflow */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
  font-size: 16px !important;
}


button:hover {
  border-color: rgb(55, 150, 150);
}
button:focus,
button:focus-visible {
  background: #0d9992;
  color: rgb(255, 255, 255);
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
